<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make a new Event!</title>
  </head>
  <body>
    <h1>Post a new event!</h1>

    <form action="/events" method="POST">
      <div>
        <label for="name">Title</label>
        <input type="text" id="name" name="events[title]" />
      </div>
      <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="events[location]" />
      </div>
      <button>Add Event!</button>
    </form>
    <hr />
    <footer>
      <button><a href="/events">All Events</a></button>
    </footer>
  </body>
</html>
