<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Sportground</h1>
  <div class="col-6 offset-3">
    <form
      action="/sportgrounds"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="name">Title</label>
        <input
          required
          class="form-control"
          type="text"
          id="name"
          name="sportgrounds[title]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          required
          class="form-control"
          type="text"
          id="location"
          name="sportgrounds[location]"
        />
      </div>
      <div>
        <label class="form-label" for="image">Images</label>
        <input
          required
          class="form-control mb-3"
          type="file"
          name="image"
          id="image"
          multiple
        />
      </div>
      <label for="players">Players</label>
      <div class="mb-3 input-group">
        <input
          required
          class="form-select"
          type="number"
          id="players"
          name="sportgrounds[players]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          required
          class="form-control"
          type="text"
          id="description"
          name="sportgrounds[description]"
        ></textarea>
      </div>
      <button class="btn btn-success">Add Sportground</button>
    </form>
    <hr />
    <a
      style="text-decoration: none"
      class="btn btn-success"
      role="button"
      href="/sportgrounds"
      >All Sportgrounds</a
    >
  </div>
</div>
