<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Sportground</h1>
  <div class="col-6 offset-3">
    <form
      action="/sportgrounds"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label class="form-label" for="name">Title</label>
        <input
          required
          class="form-control"
          type="text"
          id="name"
          name="sportgrounds[title]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          required
          class="form-control"
          type="text"
          id="location"
          name="sportgrounds[location]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input
          required
          class="form-control"
          type="text"
          id="image"
          name="sportgrounds[image]"
        />
      </div>
      <div class="mb-3">
        <label for="players">Number of Players</label>
        <div class="mb-3 input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
        <input
          required
          class="form-select"
          type="number"
          id="players"
          name="sportgrounds[players]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          required
          class="form-control"
          type="text"
          id="description"
          name="sportgrounds[description]"
        ></textarea>
      </div>
      <button class="btn btn-success">Add Sportground!</button>
    </form>
    <hr />
    <button class="btn btn-info"><a style="text-decoration: none" href="/sportgrounds">All Sportgrounds</a></button>
  </div>
</div>
